@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Caveat&display=swap');

$bg-primary: #eceff1;
$text-primary: #37474f;
$color-red: #f44336;
$color-pink: #8e24aa;
$color-blue-light: #1e88e5;
$color-blue-dark: #283593;
$color-green: #4caf50;
$color-orange: #ff9800;
$color-orange: #ff9800;
$color-yellow: #ffeb3b;
$color-grey: #bdbdbd;
$color-material-blue: #3f51b5;

$ff-cursive: 'Caveat', cursive;
$ff-monospace: 'Anonymous Pro', monospace;
