.Wrap {
	height: 100vh;
	width: 100%;
	.header {
	
	}
	
	.main {
		background-color: #f1f1f1;
		min-height: calc(100vh - 64px);
		height: calc(100vh - 64px);
		overflow-y: auto;
		@media screen and (max-width: 600px){
			min-height: calc(100vh - 56px);
		}
	}
	
	.footer {
		box-shadow: 0 0 5px rgba(0,0,0,.1);
	}
}
