.notFoundPage {
	margin: 0;
	padding: 40px 0;
	background-color: #07bdeb;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	&_back {
		padding: 5px 20px;
	}
}
